## GIT IGNORE

#**.png
#**.jpg
#**.gif
#**.bmp

*.sublime-project
*.sublime-workspace
**/*.sublime-project
**/*.sublime-workspace
**/.ipynb_checkpoints/      # jupyter cache
**/.idea/					# pycharm
**/__pycache__/				# pycharm cache


## LaTeX build files
**.aux
**.bbl
**.blg
**.synctex.gz
